body{
    padding: 0%;
    margin: 0%;
    background-color: rgb(13, 10, 14);
}


.cuadre{
    position: absolute;
    border: 15px solid rgb(41, 0, 95);
    border-radius: 10px;
    background-color: chartreuse;
    width: 400px;
    height: 500px;
    left: 40%;
    top: 30%;
}

.aparca{
    width: 310px;
    height: 80px;
    margin-left: 10%;
    margin-top: 10px;
}

.separo{
    position: relative;
    display: inline-block;
    place-content: center;
}

button {
    margin-top: 28px;
    margin-left: 20px;
    width: 70px;
    height: 70px;
}